.kittyimg1 
{
  height: 200px;
  background: #aaa;
}

.kittyimg2
{
    height: 200px;
    background: #aaa;
}

.scoreBoard
{
  height: 200px;
  background: #aaa;
}

.game
{
  height: 650px;
  background: #aaa; 
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.title
{
  height: 100;
  background: rgb(168, 26, 26);
  text-align: center;
}
